In [2]:
import pandas as pd
import numpy as np

In [4]:
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': ['mert', 'barış', 'günay', 'izmir']
}

df = pd.DataFrame(data)

In [5]:
df

     A    B      C
0  1.0  5.0   mert
1  2.0  NaN  barış
2  NaN  7.0  günay
3  4.0  8.0  izmir

In [6]:
# 1. head() - İlk birkaç satırı gösterir
print("1. head():\n", df.head())

1. head():
      A    B      C
0  1.0  5.0   mert
1  2.0  NaN  barış
2  NaN  7.0  günay
3  4.0  8.0  izmir

In [7]:
# 2. info() - Veri seti hakkında bilgi
print("\n2. info():")
df.info()

2. info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      float64
 1   B       3 non-null      float64
 2   C       4 non-null      object
dtypes: float64(2), object(1)
memory usage: 228.0+ bytes

In [8]:
# 3. describe() - İstatistiksel özet
print("\n3. describe():\n", df.describe())

3. describe():
               A         B
count  3.000000  3.000000
mean   2.333333  6.666667
std    1.527525  1.527525
min    1.000000  5.000000
25%    1.500000  6.000000
50%    2.000000  7.000000
75%    3.000000  7.500000
max    4.000000  8.000000

In [9]:
# 4. fillna() - Eksik değerleri doldurma
filled_df = df.fillna(0)
print("\n4. fillna():\n", filled_df)

4. fillna():
      A    B      C
0  1.0  5.0   mert
1  2.0  0.0  barış
2  0.0  7.0  günay
3  4.0  8.0  izmir

In [10]:
# 5. dropna() - Eksik değer içeren satırları silme
dropped_df = df.dropna()
print("\n5. dropna():\n", dropped_df)

5. dropna():
      A    B      C
0  1.0  5.0   mert
3  4.0  8.0  izmir

In [11]:
# 6. groupby() - Gruplama işlemi
print("\n6. groupby():\n", df.groupby('C').sum(numeric_only=True))

6. groupby():
          A    B
C
barış  2.0  0.0
günay  0.0  7.0
izmir  4.0  8.0
mert   1.0  5.0

In [12]:
# 7. sort_values() - Değerleri sıralama
sorted_df = df.sort_values(by='A', ascending=False)
print("\n7. sort_values():\n", sorted_df)

7. sort_values():
      A    B      C
3  4.0  8.0  izmir
1  2.0  NaN  barış
0  1.0  5.0   mert
2  NaN  7.0  günay

In [13]:
# 8. apply() - Fonksiyon uygulama
squared = df['A'].apply(lambda x: x**2 if not np.isnan(x) else x)
print("\n8. apply():\n", squared)

8. apply():
 0     1.0
1     4.0
2     NaN
3    16.0
Name: A, dtype: float64

In [14]:
# 9. merge() - Veri setlerini birleştirme
df2 = pd.DataFrame({'A': [1, 2, 3, 4], 'D': ['x', 'y', 'z', 'w']})
merged_df = pd.merge(df, df2, on='A', how='left')
print("\n9. merge():\n", merged_df)

9. merge():
      A    B      C    D
0  1.0  5.0   mert    x
1  2.0  NaN  barış    y
2  NaN  7.0  günay  NaN
3  4.0  8.0  izmir    w

In [15]:
# 10. pivot_table() - Pivot tablo oluşturma
pivot = pd.pivot_table(df, values='A', index='C', aggfunc='sum')
print("\n10. pivot_table():\n", pivot)

10. pivot_table():
          A
C
barış  2.0
günay  0.0
izmir  4.0
mert   1.0